:80 {
    handle /api/* {
        reverse_proxy express1:3000 express2:3000 {
            lb_policy first # 로드 밸런싱
            header_up Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    handle / {
        root * /usr/share/caddy/html
        file_server
    }

    handle * {
        respond "Not Found" 404
    }
}