:80 {
    root * /usr/share/caddy/html # 정적 파일을 제공할 디렉토리
    file_server

	@api path /api*

	route @api {
        reverse_proxy express1:3000 express2:3000 {
            lb_policy first # 로드 밸런싱
            header_up Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    @root path /
    route @root {
        file_server
    }
}